alembic==1.5.8
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
fake-useragent==0.1.11
Flask==1.1.2
Flask-Cache==0.13.1
Flask-Migrate==2.7.0
Flask-Pagination==0.0.1
flask-redis==0.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
gevent==21.1.2
greenlet==1.0.0
idna==2.10
importlib-metadata==3.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
Mako==1.1.4
MarkupSafe==1.1.1
numpy==1.20.2
optional-django==0.3.0
pandas==1.1.5
prettytable==2.1.0
pycparser==2.20
pyecharts==1.9.0
PyMySQL==1.0.2
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
redis==3.5.3
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
simplejson==3.17.2
six==1.15.0
SQLAlchemy==1.4.6
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
webpack==6.0.0
Werkzeug==0.16.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
