#top{
    height: 70px;
    color: #2027aa;
    width: 1920px;
}
.section{
    background:url("../images/bg1.jpg") no-repeat;
    -webkit-background-size: cover; /*使图片自适应窗口大小*/
}
lable #btn{
    padding: 6px 12px;
}
.calender1{
    right: 800px !important;
    top: 0px !important;
}
body{
    position: fixed;
}
#echart1{
    display: flex;
    position: relative;
    left: 110px;
    top: -20px;
    width: 500px;
    height: 300px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgba(25,186,139,.17);
    -webkit-background-size: cover; /*使图片自适应窗口大小*/
}

#echart2{
display: flex;
position: relative;
left: 110px;
top: -20px;
width: 500px;
height: 270px;
user-select: none;
padding: 0px;
margin: 0px;
border: 2px solid rgba(25,186,139,.17);
-webkit-background-size: cover;
}

#echart3{
    display: flex;
    position: relative;
    left: 110px;
    top: -20px;
    width: 500px;
    height: 305px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgba(25,186,139,.17);
    -webkit-background-size: cover;
}
#echart4{
    display: flex;
    position: relative;
    left: 620px;
    top: -895px;
    width: 300px;
    height: 120px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgba(25,186,139,.17);
    -webkit-background-size: cover;
}
#text1{
    position: relative;
    color: #a6e1ec;
    left: 50px;
    top: 20px;
}
#text2{
    position: relative;
    color: #a6e1ec;
    left: 23px;
    top: 20px;
}
#echart5{
    display: flex;
    position: relative;
    left: 930px;
    top: -1019px;
    width: 300px;
    height: 120px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgba(25,186,139,.17);
    -webkit-background-size: cover;
}
#echart6{
    display: flex;
    position: relative;
    left: 620px;
    top: -1016px;
    width: 611px;
    height: 250px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgba(25,186,139,.17);
    -webkit-background-size: cover;
}
#echart7{
    display: flex;
    position: relative;
    left: 620px;
    top: -1013px;
    width: 611px;
    height: 489px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgba(25,186,139,.17);
    -webkit-background-size: cover;
}
#echart8{
    display: flex;
    position: relative;
    left: 1240px;
    top: -1901px;
    width: 660px;
    height: 550px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgba(25,186,139,.17);
    -webkit-background-size: cover;
}
#echart9{
    display: flex;
    position: relative;
    left: 1240px;
    top: -1901px;
    width: 660px;
    height: 330px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgba(25,186,139,.17);
    -webkit-background-size: cover;
}

