.section{
    background:url("../images/bg1.jpg") no-repeat;
    -webkit-background-size: cover; /*使图片自适应窗口大小*/
}
body{
    position: fixed;
}
.calender6{
    right: 800px !important;
    top: 5px !important;
   color: #7f73f0 !important;
    font-size: 20px;
}
lable #btn{
    padding: 6px 12px;
}
#top {
    height: 1000px;
    color: #2027aa;
    width: 1920px;
}
#predict{
    display: flex;
    position: relative;
    left: 120px;
    top: -870px;
    width: 900px;
    height: 780px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 5px solid rgba(238, 11, 11, 0.57);
    -webkit-background-size: cover;
}
#sp{
    width: 1960px;
    height: 50px;
    font-size: 30px;
    color: #f8071b;
    font-weight: bolder;
    left: -550px;
    position: absolute;
}
#content1{
    display: flex;
    position: relative;
    left: 0px;
    top: 50px;
    width: 450px;
    height: 110px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgb(225, 24, 24);
    -webkit-background-size: cover;
}
#sp1{
    font-size: 20px;
    color: #0a0a0a;
}
#content2{
    display: flex;
    position: relative;
    left: 0px;
    top: 50px;
    width: 450px;
    height: 110px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgb(225, 24, 24);
    -webkit-background-size: cover;
}
#sp2{
    font-size: 20px;
    color: #0a0a0a;
    width: 160px;
    height: 30px;
    top: 35px;
    position: absolute;
    left: 45px;
}
#search{
    border-radius: 5px;
    margin: 0px 5px;
    display: flex;
    position: relative;
    width: 100px;
    height: 40px;
    font-size: 17px;
    left: 160px;
    top: 8px;
    font-family: "microsoft yahei";
    background-color: #e80e0e96;
}
#right{
    display: flex;
    position: absolute;
    left: 0px;
    top: 31px;
    width: 450px;
    height: 78px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    /*border: 2px solid rgba(245, 237, 237, 0.72);*/
    -webkit-background-size: cover;
}
#sel1{
    display: flex;
    position: relative;
    left: 220px;
    width: 220px;
    top: 2px;
    font-size: 20px;
    height: 30px;
}
#content3{
    display: flex;
    position: absolute;
    left: 0px;
    top: 163px;
    width: 446px;
    height: 615px;
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgb(225, 24, 24);
    -webkit-background-size: cover;
}
#content4{
    display: flex;
    position: absolute;
    left: 450px;
    top: 164px;
    width: 450px;
    height: 615px;
    /*height: 450px;*/
    user-select: none;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgb(225, 24, 24);
    -webkit-background-size: cover;
}
#sp3{
    font-size: 17px;
    color: #ee0d0d;
    height: 30px;
    width: 450px;
    position: absolute;
    left: -180px;
}
#table_content{
    position: absolute;
    width: 445px;
    height: 500px;
    top: 15px;
}
#sp4{
    font-size: 17px;
    color: #ee0d0d;
    height: 30px;
    width: 450px;
    position: absolute;
    left: -180px;
    top: 500px;
}
#result{
    position: absolute;
    width: 445px;
    height: 500px;
    top: 550px;
}
h1{
    font-size: 25px !important;
    font-weight: 800 !important;
}